<div class="centered">
  <dynamic-tree-table
    [tableTitle]="tableTitle"
    [id]="id"
    [loading]="loading"
    [scrollable]="scrollable"
    [paginator]="paginator"
    [rowsScope]="rowsScope"
    [data]="data"
    [headerColumns]="headerColumns"
    (getData)="setInitialData($event)"
    (editEvent)="setEditEventTreeTable($event)"
    (removeEvent)="setRemoveEventTreeTable($event)">
  </dynamic-tree-table>
  <dynamic-icon-form
    [formGroup]="formGroup"
    [formTitle]="formTitle"
    [dynamicIconForms]="dynamicIconForms"
    (getFormGroup)=" setInitialFormGroup($event)"
    (submitEvent)=" setSubmitEventFormGroup()"
    (clearEvent)=" setClearEventFormGroup()">
  </dynamic-icon-form>
</div>
